* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
:root{
  --primary-color: #c86d5c;
  --secondary-color: #343434;
  --tertiary-color: #f6efee; 
  --display-font: 'Yeseva One', cursive;
  --main-font: 'Nunito', sans-serif;
}

  
  a {
      text-decoration: none;
      color: var(--tertiary-color);
  }

body {
    background-color: var(--tertiary-color);
    font-family: 'Nunito', sans-serif;
    color: #343434;
    margin-top: 20px;
    
}



/* Header */

header {
    z-index: 2;
    height: 100px;
    background-color: var(--tertiary-color);
    width: 100%;
    position:fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    
}

header img {
    height: auto;
    width: 3vw;
}

.logo-h1  {
    font-family: var(--display-font);
    color: var(--primary-color);
    font-size: 1.5em;
}

/* Navigation */

.nav-links li {
    list-style: none;
    padding-right: 20px
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    
}

nav a:hover {
    color: transparent;
    transition: color .50s ease;
}

nav button a {
    color: var(--tertiary-color);
}
nav button a:hover {
    color: var(--tertiary-color);
}


 nav button:hover {
    background-color:var(--primary-color);
    transition: background-color .50s ease;
    cursor: pointer;

    
}

/* Herobox */

.hero-box{
    width: 95vw;
    margin: auto;
    height: auto;
    margin-top: 100px;
}

.hero-img {
    max-width: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 50vh;
    object-fit: cover;
    object-position: 0 75%;
}


.main-button{
    position: absolute;
    top: 22vh;
    right: 44vw;
    opacity: 0;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
  }

  .hero-img:hover .overlay {
    background: #f6efee69;
    transition: background .50s ease;
    cursor: pointer;
  }

  .hero-img:hover .main-button {
    opacity: 1;
    transition: opacity .5s ease;
   
}

.main-button:hover  button{
    background-color: #c86d5c;
    cursor: pointer;
    transition: background-color .5s ease;

}

/* Features */
.feature {
margin: auto;
max-width: 100%;
width: 95vw;
padding: 10px;
text-align: center;
}




.fas {
    color: var(--primary-color);
    font-size: 5em;
    
}

h2 {
    font-size: 2em;
    color:var(--primary-color) ;
    padding: 15px 0;
    font-family: var(--display-font);

    
}
h3 {
    font-size: 1em;
    color: var(--secondary-color) ;
    padding: 15px 0;
    font-style: italic;
    
}

.features p {
    font-size: 1em;
}

.fa-guitar {
    padding-left: 45px;
}

/* Video */


.sample-vid {
    margin: auto;
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

/* Pricing */

.pricing {
    margin-top: 20px;
    max-width: 100%;
    
}
.pricing .fret {
    transition: transform 0.2s ease-in;
  }
  
  
.fret:hover {
    transform: translateY(-15px);
    cursor: pointer;
  }

.packages {
    border: solid transparent 1px;
    box-shadow: #33333323 0px 2px 3px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.packages:hover {
    opacity: .8;
    cursor: pointer;
    transition: opacity .5s ease;

}

.pricing button:hover {
    background-color:var(--primary-color);
    transition: opacity .50s ease;
    cursor: pointer;

    
}

h4{
    padding: 10px;
    color: #c86d5c;
    font-size: 1.2em;
}

h5 {
    padding: 10px;
    font-size: 1em;
}

.pricing h2 {
    font-size: 2em;
    color: #343434;
    padding: 15px 0;
    font-family: 'Yeseva One', cursive;
}

.pricing p {
    padding: 20px;
}

.fret h2 {
    background-color: #343434;
    color: #f6efee;
    border-radius: 5px;
}

/* Footer */

footer {
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 10px;
    
}


label {
    color: var(--tertiary-color);
    margin-right: 20px;
}

input {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
  
}

footer #submit:hover {
    opacity: .5;    
    transition: opacity .50s ease;
    cursor: pointer;
}

footer p {
    color: #f6efee;
    font-size: .8em;
    padding: 20px;
}

@media (max-width: 800px) {

    .nav-links li {
        display: inline-block;
        list-style: none;
        padding-right: 40px;
    }
   

    .hero-img img {
        opacity: .3;
        object-position: 40% 75%;
    }

    .main-button{
       top: 55%;
        opacity: 1;
    }


    iframe {
    width: 100%;
    height: 300px;
    }
    

    #pricing {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        height: auto;
}
    #features {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        height: auto;
}
    .featured {
        border-radius: 10px;
        padding: 20px;
        box-shadow: #3434342d 0px 0px 5px; 
    }

    footer {
    padding: 0 20px;
}

    .footer-form {
    margin-right: 0;
    }
    
}

@media (max-width: 480px) {
    
header {
    top: 0;
    margin: auto;
    height: 25vh;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 40px;
}

header img {
    height: auto;
    width: 10vw;
    padding-left: 0;
    margin-right: 0;

}

nav button {
    opacity: 0;
}

.logo {
    margin: auto;
}

#nav-links {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-left: 50px;
    margin-top: 5px;
}

.hero-box{
    width: 100%;
    margin-top: 120px;

}

.hero-img {
    height: 30vh;
}
    

.main-button{
    position: absolute;
    top: 13vh;
    right: 30vw;
    opacity: 1;
}

.footer-container {
   background-color: #343434;
   width: 100%;
   padding: 0px; 
}

footer {
    justify-content: end;
    width: 100%;
}




footer p {
    padding: 10px 0;
    margin: 0;
}


}